

#cesiumContainer {
    position: absolute;
    z-index: 1;
    }

.head{
    position: absolute;
    z-index: 2;
    top:10px;
    left:10px;
    background-color:#333333;
    color:#ffffff;
    width:300px;
    font-size:20px;
    text-align:center;
}

.modal{
    position: absolute;
    width: 100vw;
    height: 100vh;
	background:rgba(100,100,100,0.7);
    text-align:center;
	z-index:3;
}

.modal-contents{
    margin:100px;
    padding:50px 50px;
    background-color: rgba(100,100,100,0.8);
    font-size:30px;
    color:#ffffff;
}
.close_btn{
    display : inline-block;
    background-color:rgb(238, 252, 52);
    color:#000;
    border-radius:20px;
    border-bottom: solid 4px #364218;
}

.close_btn:hover{
    background-color:rgb(150, 155, 90);
	cursor:pointer;
	color:rgb(231, 68, 68);
}
.close_btn:active{
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/

}

